.filter{
    display: flex;
    flex-direction: row;
}

.filtertype{
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    margin: auto 20px;
    margin-bottom: 50px;
}

.filterorigen{
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    margin: auto 20px;
    margin-bottom: 50px;
}