.background {
  background-image: url("https://i.imgur.com/0657X9i.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  /* background: rgb(145, 201, 190);
  background: linear-gradient(
    180deg,
    rgba(145, 201, 190, 1) 0%,
    rgba(17, 105, 84, 0.8603816526610644) 72%
  ); */
  
}

.divcards {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  width: 90%;
  align-self: center;
}

.filtros {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.inputbusqueda {
  size: 50px;
  margin-left: 10px;
}

.notfound {
  justify-content: center;
  min-height: 100vh;
}

.tipos {
  border-radius: 5px;
  border: 2px solid rgb(122, 28, 28);
  width: 100px;
}

.botonrefresh {
  width: 80px;
  height: 20px;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.header {
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  /* border: 2px solid rgb(0, 0, 0); */
  width: 95%;
}

.button{
  border-radius: 5px;
}