.paginacion{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin: 20px auto;
}

.textopaginado{
    margin: auto 10px;
    color:#18394a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}