.landingpage{
    background-image: url("C:\Users\PiruPiru\Desktop\PI-Pokemon-main\client\src\components\imagenes\landing.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    min-height: 100vh;
    min-width: 100vh;
}
