.div-navBar{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-direction: column;
    align-self: center;
}
.div-buttons{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap:20px;
}

.header {
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    width: 95%;

  }
  
.titulo{
    color:#18394a;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.divbuscador{
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.inputbusqueda {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding-right: 10px;
    box-shadow: 3px 5px 6px rgba(0,0,0,0.2);
  }

.button-search{
    /* background-color: #fff6a4; */
    background-color: #baed78;
    color: #18394a;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 5px 6px rgba(0,0,0,0.2);
}
.button-search:hover{
    background-color: #18394a;
    color: #fff6a4;
    cursor: pointer;
}